* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body {
    background-color: black;
    color: white;
    font-family: arial;
    font-size: 13px;
}

.top-part {
    max-height: 5vh;
    justify-content: flex-end;
    padding-right: 5px;
    padding-top: 5px;
}

.main-part {
    max-width: 89vw;
    margin: 0 auto;
    padding-top: 23px;
    flex-wrap: wrap;
}

.bottom-part {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.foot {
    min-height: 8vh;
    background-color: #222222;
    align-items: center;    
    justify-content: space-between;
    padding-left: 10px;
}

.bg-grey {
    border-radius: 5px;
    background-color: #4A4A4A;
    padding: 4px;
    margin-left: 10px;
}

.fa-arrows-up-down-left-right {
    transform: rotate(45deg);
}

.relative {
    position: relative;
}

.card {
    margin: 8px 4px;
    flex-basis: calc(100% / 7 - 8px);
    
}

.card img {
    width: 100%;
    height: 100%;
}

.pinco {
    position: absolute;
    bottom: 2.5px;
    padding: 5px;
    background-color: #4a4a4aa9;
}

.box i {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    padding-bottom: 5px;
}

.icons {
    gap: 17px;
    align-items: center;
    margin-right: 17px;
}

.green {
    color: #47C900;
}

.right-foot {
    align-self: stretch;
    display: flex;
    background-color: #4A4A4A;
    align-items: center;
    color: red;
    padding: 0 20px;
}

