* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

body {
    background-color: black;
    color: white;
    font-family: arial;
    font-size: 13px;
}
/* da togliere */
.borded {
    border: 2px solid red;  
}

.top-part {
    max-height: 5vh;
    justify-content: flex-end;
    padding-right: 5px;
    padding-top: 5px;
}

.main-part {
    max-height: 85vh;
    max-width: 1300px;
    margin: 28px auto 10px;
    padding-top: 10px;
}

.bottom-part {
    min-height: 10vh;
}

.bg-grey {
    border-radius: 5px;
    background-color: #4A4A4A;
    padding: 4px;
    margin-left: 10px;
}

.fa-arrows-up-down-left-right {
    transform: rotate(45deg);
}

.card {
    position: relative;
    display: inline-block;
    max-width: calc(1300px / 7 - 6px);
    margin-bottom: 11.5px;
    margin-left: 2px;
}

.card img {
    width: 100%;
    height: 100%;
}

.pinco {
    position: absolute;
    bottom: 2.5px;
    padding: 5px;
    background-color: #4a4a4aa9;
}
